* {
    box-sizing: border-box;
    font-family: Segoe UI;
}

h1 {
    text-align: center;
}

.seleccion {
    margin-bottom: 10px;
}

#contagenda {
    width: 75%;
    overflow-y: scroll;
    height: 650px;
}

.calendar {
    margin: auto;
    border: 1px solid royalblue;
    background-color: rgba(43, 43, 43, 0.86);
    color: white;
    width: 50%;
    font-size: 2vw;
    padding: 1vw;
}

.seleccion {
    text-align: center;
}

.month {
    width: 78% !important;
    border-bottom: solid 1px bisque;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

o {
    color: slategrey;
}

@media print {
    .seleccion {
        display: none;
    }
}

.calendar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dw,
.week {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.dayweek,
.days {
    text-align: center;
    cursor: pointer;
    width: 5vw;
    height: 4.3vw;
    padding: 3px;
}

.days {
    border: solid 1px bisque;
}

.modalCC {
    margin-left: 25px;
}

#horario {
    border: solid 1px black;
    width: 300px;
}

#enpunto {
    position: absolute;
    font-size: 18px;
    margin-top: 4px;
 
}

.popover {
    max-width: 100%;
}

.hh {
    margin: 0;
    height: 8px;
    width: 200px;
    
    position: relative;
    float: right;
}

.btn-salas {
    margin-right: 10px;
    margin: 10px;
}

.hora {
    width: 100%;
    height: 33px;
    
    border-bottom: solid 0.5px black;
}

.hs {
    position: absolute;
    right: 70px;
}

#contagenda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.containerCalendario {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#pills-Agenda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#contenidoCarta {
    /* display: flex; */
}

#buscador {
    width: 300px;
    height: 40px;
}

#seleccion {
    width: 500px;
}

#btnJuntas {
    cursor: pointer;
    margin: 20px;
    width: 45%;
}

#btnConvites {
    cursor: pointer;
    margin: 20px;
    width: 45%;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 576px) {
    .CC {
        max-width: 800px;
        min-width: 800px;
        margin: 1.75rem auto;
    }
}
@media (max-width: 576px) {
    .CC {
        max-width: 800px;
        min-width: 800px;
        margin: 1.75rem auto;
    }
}


.modalCC{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#actual{
    width: 100%;
}
#Dform{
    width: 300px;
    margin-left: 10%;
}
#contendorbotones {
    flex-direction: column;
    display: flex;
    margin:10px;
}
#titleCC{
    width: 100%;
    text-align: left!important;
}
#containerReservas{
    display: flex;
    flex-wrap: wrap;
}