@import "common.scss";
.calendarConvites {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @extend .calendar;
}

.dw,
.week {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.diaSemana,
.day {
    width: 5vw;
    height: 5.6vw;
}